html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  background: #ededed;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* The above is to remove browser CSS formatting */
.flex {
  display: flex;
}

.shrink-0 {
  flex-shrink: 0;
  overflow: auto;
}

.f-dir-c {
  flex-direction: column;
}

.jus-c {
  justify-content: center;
}

.ali-c {
  align-items: center;
}

.bg {
  background: #ededed;
  color: #828282;
}

.logo {
  background: #121416;
}

.section {
  background: #f9f9f9;
  color: #828282;
}

.pd-1 {
  padding: 1em;
}

.pd-2 {
  padding: 2em;
}

.pd-l-1 {
  padding-left: 1em;
}

.pd-r-1 {
  padding-right: 1em;
}

.pd-t-1 {
  padding-top: 1em;
}

.pd-b-1 {
  padding-bottom: 1em;
}

.mg-l-1 {
  margin-left: 1em;
}

.mg-r-1 {
  margin-right: 1em;
}

.mg-t-1 {
  margin-top: 1em;
}

.mg-t-2 {
  margin-bottom: 1em;
}

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.5rem !important;
}

.h4 {
  font-size: 1.25rem;
}

.w-100 {
  width: 100%;
}

.min-h-nav {
  min-height: calc(100vh - 50px);
}

.chat-container {
  height: calc(100vh - (2em * 2 * 2) - 52px - 2em);
  margin-bottom: 2em;
  overflow: auto;
}

.light {
  transition: all 0.3s;
}

.light:hover {
  color: #eee !important;
}

.green {
  color: #ccc;
  background: #10a37f !important;
}

.green:hover {
  color: #eee;
  background: #52c41a !important;
}

.bold {
  font-weight: 900;
}

.bad-res {
  background: #ffa39e;
}

.user-input {
  background: #bae0ff;
}

.send {
  height: 3em;
}
